<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello ejs</title>
</head>
<body>
<!-- @tomii and @charles onuorah
    <div class="footer-container">
        <div class="row-1">
         <p>Get Amplified Now</p>
            <div class="wrapper">
                <button class= 'btn btn-main'>Register</button>
                <button class = "btn"></button>Log In</button>
            </div>
        </div>
        <div class="row-2">
            <p>Coded By Team Incredible</p> 
        </div>
    </div>

</body>
</html>
